root = true

[*]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.java]
# Isso aqui vai acabar com esse abismo entre as anotações
ij_java_keep_blank_lines_in_declarations = 1
ij_java_keep_blank_lines_in_code = 1
ij_java_blank_lines_around_field = 0
ij_java_blank_lines_around_method = 1
ij_java_blank_lines_after_class_header = 0
ij_java_blank_lines_around_class = 1